<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/dashboard/user/products/allProducts/1"><img src="/images/logo.png" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/dashboard/user/products/allProducts/1">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <img src="/images/menu.png" class="menu-icon" onClick="menutoggle()">
        </div>
    </div>
    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select class="search-item" id="category" onchange="filterProducts()">
                <option value="allProducts">allProducts</option>
                <option value="Crocs">Crocs</option>
                <option value="Sandals">Sandals</option>
                <option value="Boots">Boots</option>
                <option value="Sneakers">Sneakers</option>
                <option value="Ugg Boots">Ugg Boots</option>
                <option value="Slippers">Slippers</option>
                <option value="Flip Flops">Flip Flops</option>
                <option value="Moccasins">Moccasins</option>
                <option value="Earth Shoes">Earth Shoes</option>
                <option value="Snow Boots">Snow Boots</option>
                <option value="Derby">Derby</option>
                <option value="Pumps">Pumps</option>
            </select>

        </div>
        <div class="product_container">
            <% if (products.length==0) { %>
                <div>No result</div>
            <% } %>
            <% let i=1; %>
            <% products.forEach(function(product) { %>
                <% if (i> (pageNum-1)*12 && i <= pageNum*12) { %>
                    <div class="product_detail" onclick="createOrder('<%= product._id%>')">
                        <img src="/asset/images/<%= product.image[0] %>">
                        <h4>
                            <%= product.title %>
                        </h4>
                        <p>
                            <%= product.category %>
                        </p>
                        <p>$<%= product.cost %>
                        </p>
                    </div>
                <% } %>
                <% i ++; %>
            <% }); %>
        </div>

        <input type="number" value="<%= products.length %>" id="products_len" hidden>
        <input type="text" value="<%= category %>" id="current_category" hidden>
        <input type="number" value="<%= pageNum %>" id="page_num" hidden>

        <div class="pagination" id="user_product_pagination"></div>

    </div>
    <div class="footer">
        <div class="container">

            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="/images/play-store.png" alt="">
                        <img src="/images/app-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="/images/logo-white.png">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>

            </div>

            <hr>
            <p class="copyright">Copyright 2021 - Apurba Kr. Pramanik</p>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <script src="/js/pagination/userProduct.js"></script>

    <script>
        var menuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
    <script>
        window.onload = function () {
            let current_category = document.getElementById('current_category').value;
            document.getElementById('category').value = current_category;
        }

        function createOrder(id) {
            window.location.href = `/dashboard/user/order/${id}`;
        }

        function filterProducts() {
            const category = document.getElementById('category').value;
            window.location.href = `/dashboard/user/products/${category}/1`
        }

    </script>
</body>

</html>